[class^='rbm-logo-icon'], [class*=' rbm-logo-icon'], [class^='stacked-rbm-logo-icon'], [class*=' stacked-rbm-logo-icon'] {
  font-family: 'rbmlogo', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^='stacked-rbm-logo-icon'], [class*=' stacked-rbm-logo-icon'] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative !important;
  height: 1em;
  width: 1em; }

[class^='stacked-rbm-logo-icon']:before, [class*=' stacked-rbm-logo-icon']:before, [class^="stacked-rbm-logo-icon"]:after, [class*=' stacked-rbm-logo-icon']:after, [class^='stacked-rbm-logo-icon'] span:before, [class*=' stacked-rbm-logo-icon'] span:before, [class^="stacked-rbm-logo-icon"] span:after, [class*=' stacked-rbm-logo-icon'] span:after {
  display: block;
  position: absolute;
  white-space: normal;
  top: 0.143em;
  left: 0.143em;
  text-indent: 0;
  speak: none;
  -webkit-transition: all 0.25s ease-in-out, all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out, all 0.25s ease-in-out;
  -webkit-transition-property: all, all;
          transition-property: all, all;
  -webkit-transition-duration: 0.25s, 0.25s;
          transition-duration: 0.25s, 0.25s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
          transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-delay: initial, initial;
          transition-delay: initial, initial; }

.rbm-logo-icon {
  content: '\e901'; }

[class^='stacked-rbm-logo-icon']:before, [class*=' stacked-rbm-logo-icon']:before {
  color: #a4cd39; }

[class^='stacked-rbm-logo-icon']:after, [class*=' stacked-rbm-logo-icon']:after, [class^='stacked-rbm-logo-icon'] span:after, [class*=' stacked-rbm-logo-icon'] span:after {
  color: #12538f; }

.stacked-rbm-logo-icon:before {
  content: '\e903'; }

.stacked-rbm-logo-icon:after {
  content: '\e902'; }

.stacked-rbm-logo-icon:hover span:after {
  content: '\e900'; }

#wpadminbar [class^='rbm-logo-icon'], #wpadminbar [class*=' rbm-logo-icon'], #wpadminbar [class^='stacked-rbm-logo-icon'], #wpadminbar [class*=' stacked-rbm-logo-icon'], #wpadminbar [class^='stacked-rbm-logo-icon'] span, #wpadminbar [class*=' stacked-rbm-logo-icon'] span {
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#wpadminbar [class^='stacked-rbm-logo-icon'], #wpadminbar [class*=' stacked-rbm-logo-icon'] {
  font-size: 1.5em;
  line-height: 1.4; }

#wpadminbar [class^='stacked-rbm-logo-icon'], #wpadminbar [class*=' stacked-rbm-logo-icon'], #wpadminbar [class^='stacked-rbm-logo-icon'] span, #wpadminbar [class*=' stacked-rbm-logo-icon'] span {
  height: 2em;
  width: 1.5em; }

#wpadminbar a.ab-item [class^='stacked-rbm-logo-icon']:before, #wpadminbar a.ab-item [class*=' stacked-rbm-logo-icon']:before {
  color: #a0a5aa; }

#wpadminbar a.ab-item [class^='stacked-rbm-logo-icon']:after, #wpadminbar a.ab-item [class*=' stacked-rbm-logo-icon']:after, #wpadminbar a.ab-item [class^='stacked-rbm-logo-icon'] span:after, #wpadminbar a.ab-item [class*=' stacked-rbm-logo-icon'] span:after {
  color: #a0a5aa; }

#wpadminbar a.ab-item:hover [class^='stacked-rbm-logo-icon']:before, #wpadminbar a.ab-item:hover [class*=' stacked-rbm-logo-icon']:before {
  color: #a4cd39; }

#wpadminbar a.ab-item:hover [class^='stacked-rbm-logo-icon']:after, #wpadminbar a.ab-item:hover [class*=' stacked-rbm-logo-icon']:after, #wpadminbar a.ab-item:hover [class^='stacked-rbm-logo-icon'] span:after, #wpadminbar a.ab-item:hover [class*=' stacked-rbm-logo-icon'] span:after {
  color: #12538f;
  text-shadow: -0.5px 0 #ccc, 0 0.5px #ccc, 0.5px 0 #ccc, 0 -0.5px #ccc; }

#wpadminbar a.ab-item:hover .stacked-rbm-logo-icon span:after {
  content: '\e900'; }
/*# sourceMappingURL=style.css.map */