[class^='icon-'], [class*=' icon-'], [class^='st-icon-'], [class*=' st-icon-'] {
  font-family: 'rbmlogo', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^='st-icon-'], [class*=' st-icon-'] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative !important;
  height: 1em;
  width: 1em; }

[class^='st-icon-']:before, [class*=' st-icon-']:before, [class^="st-icon-"]:after, [class*=' st-icon-']:after, [class^='st-icon-'] span:before, [class*=' st-icon-'] span:before, [class^="st-icon-"] span:after, [class*=' st-icon-'] span:after {
  display: block;
  position: absolute;
  white-space: normal;
  top: 0.143em;
  left: 0.143em;
  text-indent: 0;
  speak: none;
  -webkit-transition: all 0.25s ease-in-out, all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out, all 0.25s ease-in-out;
  -webkit-transition-property: all, all;
          transition-property: all, all;
  -webkit-transition-duration: 0.25s, 0.25s;
          transition-duration: 0.25s, 0.25s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
          transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-delay: initial, initial;
          transition-delay: initial, initial; }

.icon-rbw-logo {
  content: '\e901'; }

[class^='st-icon-rbm-logo']:before, [class*=' st-icon-rbm-logo']:before {
  color: #a4cd39; }

[class^='st-icon-rbm-logo']:after, [class*=' st-icon-rbm-logo']:after, [class^='st-icon-rbm-logo'] span:after, [class*=' st-icon-rbm-logo'] span:after {
  color: #12538f; }

.st-icon-rbm-logo:before {
  content: '\e903'; }

.st-icon-rbm-logo:after {
  content: '\e902'; }

.st-icon-rbm-logo:hover span:after {
  content: '\e900'; }

#wpadminbar [class^='icon-'], #wpadminbar [class*=' icon-'], #wpadminbar [class^='st-icon-'], #wpadminbar [class*=' st-icon-'], #wpadminbar [class^='st-icon-'] span, #wpadminbar [class*=' st-icon-'] span {
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#wpadminbar [class^='st-icon-'], #wpadminbar [class*=' st-icon-'] {
  font-size: 1.5em;
  line-height: 1.4; }

#wpadminbar [class^='st-icon-'], #wpadminbar [class*=' st-icon-'], #wpadminbar [class^='st-icon-'] span, #wpadminbar [class*=' st-icon-'] span {
  height: 2em;
  width: 1.5em; }

#wpadminbar a.ab-item [class^='st-icon-rbm-logo']:before, #wpadminbar a.ab-item [class*=' st-icon-rbm-logo']:before {
  color: #a0a5aa; }

#wpadminbar a.ab-item [class^='st-icon-rbm-logo']:after, #wpadminbar a.ab-item [class*=' st-icon-rbm-logo']:after, #wpadminbar a.ab-item [class^='st-icon-rbm-logo'] span:after, #wpadminbar a.ab-item [class*=' st-icon-rbm-logo'] span:after {
  color: #a0a5aa; }

#wpadminbar a.ab-item:hover [class^='st-icon-rbm-logo']:before, #wpadminbar a.ab-item:hover [class*=' st-icon-rbm-logo']:before {
  color: #a4cd39; }

#wpadminbar a.ab-item:hover [class^='st-icon-rbm-logo']:after, #wpadminbar a.ab-item:hover [class*=' st-icon-rbm-logo']:after, #wpadminbar a.ab-item:hover [class^='st-icon-rbm-logo'] span:after, #wpadminbar a.ab-item:hover [class*=' st-icon-rbm-logo'] span:after {
  color: #12538f;
  text-shadow: -0.5px 0 #ccc, 0 0.5px #ccc, 0.5px 0 #ccc, 0 -0.5px #ccc; }

#wpadminbar a.ab-item:hover .st-icon-rbm-logo span:after {
  content: '\e900'; }
/*# sourceMappingURL=style.css.map */